:root {
    --blue: rgb(61, 90, 254);
    --light-blue: rgb(33,150,243);
  }
  
  .menuWrapper {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .link {
    width: 100%;
    text-align: start;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: clamp(1.5em, 3em, 8vw);
    padding: clamp(0px, 7px, 35px) clamp(1em, 4vw, 4em);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    position: relative;
  }
  .link:nth-child(3) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .link:before {
    background: linear-gradient(to right, transparent, var(--blue), var(--light-blue));
  
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    transition: width .2s ease-in-out;
  }
  
  .link:hover:before{
    
    width: 100%;
  }
  